<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/defaultLayout}"
>
<head th:remove="all">
    <title>OCR 초본 JSON PARSE</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>초본 JSON PARSE LIST</h1>
        <table border="1">
          <tr>
            <th>목록</th>
            <th>내용</th>
          </tr>
          <tr>
            <td>초본 발급일</td>
            <td th:text="${data.chobon.issueDt}"></td>
          </tr>
          <tr>
            <td>성명</td>
            <td th:text="${data.chobon.issueNm}"></td>
          </tr>
          <tr>
            <td>주민번호</td>
            <td th:text="${data.chobon.juminRegNo}"></td>
          </tr>
          <tr th:if="${data.chobon.currentAddr} != null">
            <td>현거주 주소</td>
            <td th:text="${data.chobon.currentAddr}"></td>
          </tr>
          <tr>
            <td>경기도 최초 거주일</td>
            <td th:text="${data.chobon.residenceFirst}"></td>
          </tr>
          <tr>
            <td>경기도 연속 거주 시작일</td>
            <td th:text="${data.chobon.residenceStart}"></td>
          </tr>
          <tr>
            <td>경기도 마지막 거주 이전일</td>
            <td th:text="${data.chobon.residenceLast}"></td>
          </tr>
          <tr>
            <td>경기도 연속 거주일수</td>
            <td th:text="${data.chobon.continueDay}"></td>
          </tr>
          <tr>
            <td>경기도 연속 거주기간</td>
            <td th:text="${data.chobon.continueYmd}"></td>
          </tr>
          <tr>
            <td>경기도 합산 거주일수</td>
            <td th:text="${data.chobon.totalDay}"></td>
          </tr>
          <tr>
            <td>경기도 합산 거주기간</td>
            <td th:text="${data.chobon.totalYmd}"></td>
          </tr>
          <tr>
            <td colspan="2">경기도 거주 주소</td>
          </tr>
          <tr th:if=" ${data.chobon.selAddrList}" th:each="js, idx : ${data.chobon.selAddrList}">
            <td th:text="'주소 ' + ${idx.count}"></td>
            <td th:text=" ${js.addrDate} + ' ' + ${js.addr}"></td>
          </tr>
          <tr>
            <td colspan="2">전체주소</td>
          </tr>
          <tr th:if=" ${data.chobon.addrList}" th:each="js, idx : ${data.chobon.addrList}">
            <td th:text="'주소 ' + ${idx.count}"></td>
            <td th:text=" ${js.addrDate} + ' ' + ${js.addr}"></td>
          </tr> 
          <tr>
            <td colspan="2">추출 기준 정보</td>
          </tr>
          <tr th:if=" ${data.chobon.pageList}" th:each="pa, idx : ${data.chobon.pageList}">
            <td th:text="'페이지 ' + ${idx.count}"></td>
            <td>
              <table>
                <tr>
                  <td colspan="2" th:text="${pa.uptCi.word}"></td>
                </tr>
                <tr>
                  <td>시작여부</td>
                  <td th:text="${pa.uptCi.compareStart}"></td>
                </tr>
                <tr>
                  <td>완료여부</td>
                  <td th:text="${pa.uptCi.compareEnd}"></td>
                </tr>
                <tr>
                  <td colspan="2" th:text="${pa.anmCi.word}"></td>
                </tr>
                <tr>
                  <td>시작여부</td>
                  <td th:text="${pa.anmCi.compareStart}"></td>
                </tr>
                <tr>
                  <td>완료여부</td>
                  <td th:text="${pa.anmCi.compareEnd}"></td>
                </tr>
                <tr>
                  <td colspan="2" th:text="${pa.acrCi.word}"></td>
                </tr>
                <tr>
                  <td>시작여부</td>
                  <td th:text="${pa.acrCi.compareStart}"></td>
                </tr>
                <tr>
                  <td>완료여부</td>
                  <td th:text="${pa.acrCi.compareEnd}"></td>
                </tr>
                <tr>
                  <td colspan="2" th:text="${pa.numCi.word}"></td>
                </tr>
                <tr>
                  <td>시작여부</td>
                  <td th:text="${pa.numCi.compareStart}"></td>
                </tr>
                <tr>
                  <td>완료여부</td>
                  <td th:text="${pa.numCi.compareEnd}"></td>
                </tr>
                <tr>
                  <td colspan="2" th:text="${pa.rstCi.word}"></td>
                </tr>
                <tr>
                  <td>시작여부</td>
                  <td th:text="${pa.rstCi.compareStart}"></td>
                </tr>
                <tr>
                  <td>완료여부</td>
                  <td th:text="${pa.rstCi.compareEnd}"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </div>
</body>
<script layout:fragment="contentJs" th:inline="javascript">
    /* <![CDATA[ */
    $(document).ready(function () {
    });
	/* ]]> */
</script>
</html>