<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=1264px,user-scalable=yes">

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/kendo/kendo.all.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/kendo/kendo.culture.ko-KR.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/commonUtil.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/kendoui.css}"/>
    <script th:inline="javascript">
    	/* <![CDATA[ */
        /* ]]> */
    </script>
    <title>DEMO</title>
</head>
</html>
