<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/defaultLayout}"
>
<head th:remove="all">
    <title>OCR 등본 JSON PARSE</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>등본 JSON PARSE LIST</h1>
        <table border="1">
          <tr>
            <th>목록</th>
            <th>내용</th>
          </tr>
          <tr>
            <td>발급일</td>
            <td th:text="${data.deungbon.issueDt}"></td>
          </tr>
          <tr>
            <td>성명</td>
            <td th:text="${data.deungbon.issueNm}"></td>
          </tr>
          <tr>
            <td>주민번호</td>
            <td th:text="${data.deungbon.juminRegNo}"></td>
          </tr>
          <tr>
            <td>현주소</td>
            <td th:text="${data.deungbon.address}"></td>
          </tr>
          <tr>
            <td colspan="2">세대 구성원</td>
          </tr>
          <tr th:if=" ${data.deungbon.familyList}" th:each="fa, idx : ${data.deungbon.familyList}">
            <td th:text="'구성원 ' + ${idx.count}"></td>
            <td th:text=" ${fa.relation} + ' | ' + ${fa.name} + ' | ' + ${fa.juminRegNoAst} + ' | ' + ${fa.birthYmd} + ' | ' + ${fa.gender}"></td>
          </tr>
          <tr>
            <td colspan="2">추출 기준 정보</td>
          </tr>
          <tr th:if=" ${data.deungbon.pageList}" th:each="pa, idx : ${data.deungbon.pageList}">
            <td th:text="'페이지 ' + ${idx.count}"></td>
            <td>
              <table>
                <tr>
                  <td colspan="2" th:text="${pa.uptCi.word}"></td>
                </tr>
                <tr>
                  <td>시작여부</td>
                  <td th:text="${pa.uptCi.compareStart}"></td>
                </tr>
                <tr>
                  <td>완료여부</td>
                  <td th:text="${pa.uptCi.compareEnd}"></td>
                </tr>
                <tr>
                  <td colspan="2" th:text="${pa.acrCi.word}"></td>
                </tr>
                <tr>
                  <td>시작여부</td>
                  <td th:text="${pa.acrCi.compareStart}"></td>
                </tr>
                <tr>
                  <td>완료여부</td>
                  <td th:text="${pa.acrCi.compareEnd}"></td>
                </tr>
                <tr>
                  <td colspan="2" th:text="${pa.nadCi.word}"></td>
                </tr>
                <tr>
                  <td>시작여부</td>
                  <td th:text="${pa.nadCi.compareStart}"></td>
                </tr>
                <tr>
                  <td>완료여부</td>
                  <td th:text="${pa.nadCi.compareEnd}"></td>
                </tr>
                <tr>
                  <td colspan="2" th:text="${pa.numCi.word}"></td>
                </tr>
                <tr>
                  <td>시작여부</td>
                  <td th:text="${pa.numCi.compareStart}"></td>
                </tr>
                <tr>
                  <td>완료여부</td>
                  <td th:text="${pa.numCi.compareEnd}"></td>
                </tr>
                <tr>
                  <td colspan="2" th:text="${pa.jrnCi.word}"></td>
                </tr>
                <tr>
                  <td>시작여부</td>
                  <td th:text="${pa.jrnCi.compareStart}"></td>
                </tr>
                <tr>
                  <td>완료여부</td>
                  <td th:text="${pa.jrnCi.compareEnd}"></td>
                </tr>
                <tr>
                  <td colspan="2" th:text="${pa.bmnCi.word}"></td>
                </tr>
                <tr>
                  <td>시작여부</td>
                  <td th:text="${pa.bmnCi.compareStart}"></td>
                </tr>
                <tr>
                  <td>완료여부</td>
                  <td th:text="${pa.bmnCi.compareEnd}"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </div>
</body>
<script layout:fragment="contentJs" th:inline="javascript">
    /* <![CDATA[ */
    $(document).ready(function () {
    });
	/* ]]> */
</script>
</html>