<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/defaultLayout}"
>
<head th:remove="all">
    <title>OCR PARSING DATA</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>OCR 라인별 데이터</h1>
        <div>
          <!-- <button th:onclick="|location.href='@{/ocr/toeicStare/parseData(fileName=${fileName})}'|">토익 응시 확인서 데이터 추출</button> -->
        </div>
        <table>
          <tr>
            <th>순번</th>
            <th>내용</th>
          </tr>
          <tr th:each="jt, idx : ${jsonRowList}">
            <td th:text="${idx.count}"></td>
            <td th:text="${jt}"></td>
          </tr>
        </table>
    </div>
</body>
<script layout:fragment="contentJs" th:inline="javascript">
    /* <![CDATA[ */
    $(document).ready(function () {
    });
	/* ]]> */
</script>
</html>