<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/defaultLayout}"
>
<head th:remove="all">
    <title>OCR PARSING DATA</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>OCR 라인별 데이터</h1>
        <h3 th:if="${#strings.equals(fileType, 'juminChobon')}">주민등록초본</h3>
        <h3 th:if="${#strings.equals(fileType, 'hiealc')}">건강보험 자격득실 확인서</h3>
        <div>
          <button th:onclick="|location.href='@{${'/ocr/'+ fileType +'/parseData'}(fileName=${fileName})}'|">데이터 추출</button>
        </div>
        <table>
          <tr>
            <th>순번</th>
            <th>내용</th>
          </tr>
          <tr th:each="jt, idx : ${jsonRowList}">
            <td th:text="${idx.count}"></td>
            <td th:text="${jt}"></td>
          </tr>
        </table>
    </div>
</body>
<script layout:fragment="contentJs" th:inline="javascript">
    /* <![CDATA[ */
    $(document).ready(function () {
    });
	/* ]]> */
</script>
</html>